<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${response}">BUGRA WAS HERE</h1>
    <h1 th:text="${x}">BUGRA WAS HERE</h1>
    <h1 th:text="${y}">BUGRA WAS HERE</h1>
    <h1 th:text="${z}">BUGRA WAS HERE</h1>


    <div>

    </div>

    <img src="https://media.giphy.com/media/Z4NLF0caXuVYk/giphy.gif" alt="">
</body>
</html>